/*

nav {
	width: 100%;
}

.button-nav {

	width: 100%;
	
}

.button-nav, .button-nav:visited {
	display: inline-block;
	background-color: #FFF;
	color: #b2ebf2;
	padding: 1em 1.25em;
	text-decoration: none;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.button-nav:hover, .button-nav:active, .button-nav:focus {
	color: #006064;
}

*/

.quantityBorder {
	margin-left:45%;
	margin-top:25%;
}

.totalPrice {
	text-align: center;
	margin-top: 25%
}


figure {
	margin: 0;
	margin-left: 5%
}

figcaption {
	text-align: center;
	font-size: 0.8rem;
	font-style: bold;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0rem;
  padding: 0rem;
  background-color: #FFF;
}

img {
	height: auto; 
	width: auto;
	max-width: 100%;
}

.grid-col-1of3 figcaption:hover {
	visibility: visible;
}
/*p h1 h2 {
	text-align: center;
	display: block;
}*/

article {
	text-align: left;
	margin: 2rem 0; 
	padding: 2rem; 
	/*border: 1px solid blue;*/
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*section aboutInfo
{
	text-align:center;
}*/

.nav{
	font-size: 0.7em;
	font-weight: bold;
	width:100%;
	position: fixed;
	top: 0;
	z-index: 10;
}

 
.nav ul {
  list-style: none;
  background-color: #eeeeee;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}


 
.nav a {
  text-decoration: none;
  color: black;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #eeeeee;
  color: #ADD8E6;
}


 
/*.nav a.active {
  color: #ADD8E6;
  cursor: default;
}*/

.nav-primary-item a:active {
	color: #ADD8E6 ;
}


.grid-col-1of3 h1 {
	text-align: left;
	margin:30% 0% 0% 0%;
}

.grid-col-1of3 h2 {
	text-align: left;
	margin:5% 10% 0% 0%;
}


.shoeInfo p  {
	text-align: left;
	padding-right: 5%;

}

.aboutInfo {
	text-align: left;
	margin: 0;
	

}

.cartTitle  {
	text-align: center;
	margin: 5%;
}


/*.grid-col-2of3 img {

	margin:10% 0% 0% 5%;
	text-align: left;

}*/

.grid-col-1of4, .grid-col-2of4, .grid-col-3of4, .grid-col-4of4 {
	margin-top: 10%
}

.grid-col-1of3 .button {
	float: left;
	padding: 0.5em 0.7em;
	color: black;
	background color: #fefefe;
	text-decoration: none;
	border:0.1em solid black;
	border-radius: 0.25em;
}

.grid-col-1of3 .button:hover {
  color: #ADD8E6;
  border-color: #ADD8E6;
}

.grid-col-1of3 a {
	text-decoration: none;
}

.cartButton {
	float: left;
	color: black;
	background color: #fefefe;
	margin-top:20%;
	margin-left:37%;
	border:0.1em solid black;
	border-radius: 0.25em;
	padding: 0.5em 0.7em;

}


.cartButton:hover {
  color: #ADD8E6;
  border-color: #ADD8E6;
}

.grid-col-5of10 .form {
	float:left;
}


.a button {
	padding: 0.5em 0.7em;*/
	color: black;
	background color: #fefefe;
	text-decoration: none;


}

.checkoutHeader {
	background-color:black;
	color:white;
	margin: 0em 0em 0em 0em;
	padding: 10em 0em;
	text-align: center;
}

.aboutHeader {
	background-color:black;
	color:white;
	margin: 0em 0em 0em 0em;
	padding: 25em 0em;
	text-align: center;
}


.footer {
	background-color:black;
	color:white;
	margin: 5em 0em 0em 0em;
	padding: 10em 0em;
	text-align: center;
}


.introHeader {
	background-color:black;
	color:white;
	margin: 0em 0em 0em 0em;
	padding: 25em 0em;
	text-align: center;
}

.form {
	text-align: left;
}

.formField {
	text-align: left;
	margin: 25%;
}

 
.nav a.active {
  color: #ADD8E6;
  cursor: default;
}







