/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
@font-face {
    font-family: 'OpenSans-ExtraboldItalic';
    font-weight: bolder;
    font-style: italic;
    src: url('fonts/OpenSans-ExtraboldItalic.eot');
    src: url('fonts/OpenSans-ExtraboldItalic.eot?#iefix') format('embedded-opentype'), 
         url('fonts/OpenSans-ExtraboldItalic.woff2') format('woff2'), 
         url('fonts/OpenSans-ExtraboldItalic.woff') format('woff'),
         url('fonts/OpenSans-ExtraboldItalic.ttf') format('truetype');
}


@font-face {
    font-family: 'OpenSans-SemiboldItalic';
    font-weight: bold;
    font-style: italic;
    src: url('fonts/OpenSans-SemiboldItalic.eot');
    src: url('fonts/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'), 
         url('fonts/OpenSans-SemiboldItalic.woff2') format('woff2'), 
         url('fonts/OpenSans-SemiboldItalic.woff') format('woff'),
         url('fonts/OpenSans-SemiboldItalic.ttf') format('truetype');
}


@font-face {
    font-family: 'OpenSans';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/OpenSans.eot');
    src: url('fonts/OpenSans.eot?#iefix') format('embedded-opentype'), 
         url('fonts/OpenSans.woff2') format('woff2'), 
         url('fonts/OpenSans.woff') format('woff'),
         url('fonts/OpenSans.ttf') format('truetype');
}

@font-face {
    font-family: 'PT Serif';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/PTSerif.eot');
    src: url('fonts/PTSerif.eot?#iefix') format('embedded-opentype'), 
         url('fonts/PTSerif.woff2') format('woff2'), 
         url('fonts/PTSerif.woff') format('woff'),
         url('fonts/PTSerif.ttf') format('truetype');
}

@font-face {
    font-family: 'PT Serif-Bold';
    font-weight: bold;
    font-style: normal;
    src: url('fonts/PTSerif-Bold.eot');
    src: url('fonts/PTSerif-Bold.eot?#iefix') format('embedded-opentype'), 
         url('fonts/PTSerif-Bold.woff2') format('woff2'), 
         url('fonts/PTSerif-Bold.woff') format('woff'),
         url('fonts/PTSerif-Bold.ttf') format('truetype');
}

body {
  padding: 1em;
  background-color: #F6F6F6;
}


section:not([id]) {
  margin: 1em 0;
  padding: 1em 0;
  border-bottom: 0.15em solid #9A15CC;
}

#textarea {
  margin: 1em 0;
  padding: 1em 0;
  border-bottom: 0.15em solid #9A15CC;
}

section h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

a:link
{
  color: black;
}

a.button-nav {
  color: black;
}

 a.button-submit
{
  color: #FFF;
}

a.button-nav:hover 
{
  color: #15CC7D;
}

a.button-submit:hover
{
  color: #FFF;
}

a.button-buy:hover
{
  color: black;
}



a:hover
{
  color:#15CC7D;
}

a:active
{
  color: #15CC7D;
}


nav {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 0.15em solid #D1D2D4;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: block;
}

ul.citations {
  margin-left: 0.25em;
  padding-left: 0.25em;
}

ul.citations li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

ul.citations li strong {
  font-weight: normal;
  font-style: italic;
}

cite {
  font-style: normal;
}

.titlePage {
  font-family: PT Serif, serif;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/
h1.title
{
 /* display: block;
  font-size: 3em;
  color: #15CC7D;
  font-family: 'Open Sans', sans-serif;*/
  display: inline-block;
  color: #15CC7D;
  padding: 0.5em;
  font-family: OpenSans-ExtraboldItalic, sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 3em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

h2.headings
{
/*  display: block;
  color: #9A15CC;
  font-size: 2em;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;*/
    display: block;
    font-family: OpenSans-SemiboldItalic, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    text-transform: none;
    padding-bottom: 1em;
    border-bottom: 1px solid black;

}

h3.subheadings
{
  display:block;
  color: #9A15CC;
  font-size: 1em;
  font-family: PT Serif, serif;
  margin-bottom: 1%;

}

h3.subheadings1
{
  display:block;
  color: #9A15CC;
  font-size: 1em;
  font-family: PT Serif, serif;
  margin-bottom: 1%;
  margin-top: 5%;

}

/* Styling for the navigation button */
.button-nav {
  /*display: inline-block;
  padding: 0.4em;
  color: black;
  font-size: 1.3em;
  background-color: #FFF;
  border:0.1em solid #4D94FF;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;*/

 display: inline-block;
  color: black;
  padding: 0.5em;
  font-family: OpenSans-ExtraboldItalic, sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 1.15em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  line-height: 4em;
}

.button-nav:hover, .button-nav:focus {

}


.button-submit
{
  /*display: inline-block;
  padding: 0.4em;
  color:#4D94FF;
  font-size: 1.3em;
  background-color:#FFF;
  border:0.1em solid #4D94FF;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;*/

  font-family: OpenSans-SemiboldItalic, sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: .1em;
    width: 125px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left:3%;
    padding-right: 3%;
    height: 40px;
    line-height: 6;
    margin-top: 5%;
    background: #9A15CC;
    color: #FFF;
    overflow: hidden;
    border-style: solid;
    border-width: 0;
    border-radius: 25px;
    outline:none;
    cursor: pointer;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-buy {
  font-family: OpenSans-SemiboldItalic, sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: .1em;
    width: 125px;
    padding: 1%;
    height: 40px;
    line-height: 40px;

    overflow: hidden;
    border-style: solid;
    border-width: 0;
    border-radius: 25px;
    outline:none;
    cursor: pointer;
    position: relative;
    text-align: center;

    text-decoration: none;
    color: #000;
    border: 1px solid #CECECF;
    background: none; 
    margin-top: 0;
    margin-bottom: 1em;
}

.button-submit:hover, .button-submit:focus{
  background-color: black;
}

.button-buy:hover {
  background-color:#CECECF;
}

/*label, input, textarea
{
  display: block;
  padding: 0.2em;
}
*/

.form {
  padding-left: 2.5em;
  padding-bottom: 5em;
}

input {
    display: block;
    position: relative;
    font-family: PT Serif, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: #000;
    background: 0 0;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #9A15CC;
    box-shadow: none;
    padding: 0 0 10px;
    margin: 30px 0 10px;
    width: 100%;
}






/* 
  TEXT ELEMENTS -------------------
*/

h1
{
  display: block;
  font-size: 3em;
  font-weight: 500;
}

h2
{
  display: block;
  font-size: 2em;
  font-weight: 400;
}

h3
{
  display: block;
  font-size: 1.5em;
  font-weight: 500;
}



/*
  NAVIGATION MENU -----------------
*/

nav a {
  width: 100%;
}

nav a, nav a:visited, h1{
  display: inline-block;
  color: black;
  padding: 0.5em;
  font-family: OpenSans-ExtraboldItalic, sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 1.15em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  line-height: 1.1em;
}

nav a.cart {
  color: #9A15CC;
  padding-right: 2.5em;
}

nav a.cartActive {
  padding-right: 2.5em;
  color:#15CC7D;
}


nav a:hover, nav a:active, nav a:focus {
  color: #15CC7D;
  outline: none;
}

ul {
    list-style-type: none;
}

ul.brand {
  float: left;
  padding-left: 2em;
}

ul.right {
  float: right;
}

@media (max-width: 85em) {
  
  .nav-toggle.hugsLogo {
    visibility: hidden;
    position: absolute; 
  }

}

@media (max-width: 52em) {
  
  .nav-toggle.shown {
    visibility: hidden;
    position: absolute; 
  }

  .nav-toggle.hugs {
    visibility: visible;
    position: absolute; 
  }

}

@media (max-width: 30em) {

  nav ul.right {
    float: right;
    padding-right: 0;
  }

  nav a.cart {
    padding-right: 1em;
  }

  nav a, nav a:visited {
    padding: 0.25em;
  }

  .nav-toggle.hugs {
    visibility: hidden;
    position: absolute; 
  }

  .nav-toggle.hugsLogo {
    visibility: visible;
    position: absolute; 
  }

}

li.tagline {
  display: inline-block;
  color: black;
  padding: 0.5em 1.25em;
    font-family: PT Serif, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    text-transform: none;
    text-decoration: none;
}

body {
  padding: 1em;
  background-color: #F6F6F6;
}

ul#nav .active {
  color: #15CC7D;
}

img.logo {
  height: 2.5em;
  width: 2.5em;
}

li.hugsLogo {
  padding-left: 0.5em;
}



/* 
  COMBINED ELEMENTS -------------------
*/

*, *::after, *::before{
  box-sizing: border-box;
}

.mainNavigation{
  display: -webkit-flex;
  display: -ms-flex;
  display:flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  align-items: stretch;
}

.mainNavButton {
/*  display:inline-block;
  background-color: #FFF;
  padding:2em;
  text-decoration: none;
  flex-grow: 1;*/

  display: inline-block;
  color: black;
  padding: 0.5em;
  font-family: OpenSans-ExtraboldItalic, sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 1.15em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  line-height: 4em;
}

.mainNavButtonCart {
/*  display:inline-block;
  background-color: #FFF;
  padding:2em;
  text-decoration: none;
  flex-grow: 1;*/

  display: inline-block;
  color: #9A15CC;
  padding: 0.5em;
  font-family: OpenSans-ExtraboldItalic, sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 1.15em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  line-height: 4em;
}

.mainNavButton:hover, .mainNavButton:active, .mainNavButton:focus {

  color: #15CC7D;
}


@media (min-width: 27em) {
  .mainNavButton {
    order: 2;
  }

  .mainNavButton:nth-of-type(4) {
    order:1;
  }
}


/* Product Listing */

[class*='col-'] {
  float: left;
  padding: 0; 
  text-align: center; 
}

.grid-col-1of6 {
  width: 16.66%;
  padding-right: 1em;
}

.grid-pad {
  padding: 20px 0 20px 20px;
}

.grid-row:after {
  content: "";
  display: block;
  clear: both;
}

p {
  font-family: PT Serif, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    text-transform: none;
}

h4.shopCategory, h4.copyTitle,  h4.price {
  font-family: OpenSans-SemiboldItalic, sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 1em;
  margin-bottom: 0;
  padding-bottom: 1em;
  border-bottom: 1px solid black;
}

h3, p.shop {
  font-family: PT Serif-Bold, serif;
  color: #CECECF;
  font-weight: 600;
  margin-bottom: 0;
}

p.shopSub {
  margin-top: 5px;
  color: #F6F6F6;
}


figure:hover figcaption p.shopSub {
  color: #9A15CC;
}

#lastRow {
  padding-bottom: 3em;
}

img.shopShoe {
    max-width: 85%;
}


@media (max-width: 52em) {

  .grid-col-1of6 {
    width: 33.33%;
  }

  .grid-col-1of6, .grid-col-2of6, .grid-col-3of6 {
    padding-bottom: 20px;
  }

  .grid-pad {
    padding-top: 0px;
    padding-bottom: 0px;
  }

}

@media (max-width: 30em) {

  .grid-col-1of6 {
    width: 50%;
  }

}

figure.product {
  padding-top: 1.5em;
}


.wrapper {
  display: flex;
  flex-flow: row wrap;
}

@media (max-width: 57em) {

  .copy {
    width: 65%;
    padding-bottom: 3em;
  }

}

@media (max-width: 32em) {

  .copy, .form {
    width: 93%;
  }

}

.divide {
  width: 93%;
}

figure {
  margin: 0;
  margin-left: 5%
}

h2 {
  font-family: PT Serif, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    text-transform: none;
}

h3.size, .cartTitle {
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    /*padding-left: 0.25em; */  
    padding-bottom: 1em;
}

