*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class^='grid-col-'] {
	float: left;
	padding: 0; 
	text-align: center; /* center the content in this block by default */
}


.grid-col-5of10, .grid-col-2of10, {
	width: 100%;
}

.grid-col-3of10 {
	width: 33.33%
}

.grid-col-1of3 {
	width: 33.33%
}

.grid-col-2of3 {
	width: 66.66%
}

.grid-row:after {
	content: "";
	display: block;
	clear: both;
}


@media (min-width: 30em) {

	.grid-col-2of10 {
		width: 20%;
	}

}

@media (min-width: 50em) {

	.grid-col-5of10, .grid-col-3of10 {
		width: 50%;
	}

	.grid-col-5of10:first-of-type {
		padding-right: 0.5em;
	}

	.grid-col-5of10:last-of-type {
		padding-left: 0.5em;
	}


}

@media (min-width: 50em) {

	.grid-col-1of3, .grid-col-2of3 {
		width: 50%;
	}

	.grid-col-1of3:first-of-type {
		padding-right: 0.5em;
	}

	.grid-col-1of3:last-of-type {
		padding-left: 0.5em;
	}

	.grid-col-2of3:first-of-type {
		padding-right: 0.5em;
	}

	.grid-col-2of3:last-of-type {
		padding-left: 0.5em;
	}


}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;


  }

  .nav li {
    display: inline-block;
    margin-right: -4px;

}

}

