


/*

nav {
	width: 100%;
}

.button-nav {

	width: 100%;
	
}


.button-nav, .button-nav:visited {
	display: inline-block;
	background-color: #FFF;
	color: #b2ebf2;
	padding: 1em 1.25em;
	text-decoration: none;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.button-nav:hover, .button-nav:active, .button-nav:focus {
	color: #006064;
}
*/




figure {
	margin: 0;
}

figcaption {
	font-size: 0.8rem;
	font-style: bold;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0rem;
  padding: 0rem;
  background-color: #eeeeee;
}

img {
	height: auto; 
	width: auto;
	max-width: 100%;
}

p h1 h2 {
	display: block;
}

article {
	text-align: left;
	margin: 2rem 0; 
	padding: 2rem; 
	/*border: 1px solid blue;*/
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

section aboutInfo
{
	text-align:center;
}

.nav{
	font-size: 0.7em;
	font-weight: bold;
	width:100%;
	position: fixed;
	top: 0;
	z-index: 10;
}

 
.nav ul {
  list-style: none;
  background-color: #FFF;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}


 
.nav a {
  text-decoration: none;
  color: black;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: white;
  text-decoration: underline;
}
 
.nav a.active {
  background-color: #fff;
  color: blue;
  cursor: default;
}

.grid-col-1of3 h1 {
	font-weight: bolder;
	margin:30% 10% 0% 5%;
	text-align: left;
}

.grid-col-1of3 h2 {
	text-align: left;
	margin:5% 10% 0% 5%;
}


.grid-col-1of3 p {
	text-align: left;
	margin:5% 5% 0% 5%;
}

.grid-col-2of3 img {

	margin:10% 0% 0% 5%;
	text-align: left;

}

.grid-col-1of3 .button {
	float: left;
	padding: 0.5em 0.7em;
	margin:5%;
	color: black;
	background color: #fefefe;
	text-decoration: none;
	border:0.1em solid black;
	border-radius: 0.25em;
}

.a button {
	padding: 0.5em 0.7em;
	color: black;
	background color: #fefefe;
	text-decoration: none;


}

.checkoutHeader {
	background-color:black;
	color:white;
	margin: 0em 0em 0em 0em;
	padding: 10em 0em;
	text-align: center;
}


.footer {
	background-color:black;
	color:white;
	margin: 5em 0em 0em 0em;
	padding: 10em 0em;
	text-align: center;
}


.form {
	text-align: left;
}








